.text {
  width: 50%;
}
#dialog {
  text-align: center;
  border: 10px solid lightgray;
  border-radius: 10px;
}
#yes {
  color: red;
}
#text_fields,
#account_already {
  width: 80%;
  margin: 0 auto;
}
#sign {
  display: inline;
}
#or {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  color: blue;
  background: blue;
}
.devicon-facebook-plain {
  width: 10vw;
  height: 20vh;
}
svg {
  width: 20%;
  color: red;
  background: red;
}
i {
  width: 20vw;
}
#social_logins {
  display: flex;
  justify-content: center;
  width: 100%;
}
span {
  width: 10vw;
}
#haha {
  display: inline;
}
#sign_in_dialog {
  display: none;
}
